body {
  max-width: 1280px;
  margin: 0 auto;
}
.menu__list {
  color: red;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
}
.menu__list li {
  padding: 26px;
  list-style: none;
}
.menu__list li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0000;
}
.home {
  width: 68px;
  height: 27px;
  left: 0px;
}
.photoapp {
  width: 131px;
  height: 27px;
}
.design {
  width: 87px;
  height: 27px;
}
.download {
  width: 140px;
  height: 27px;
}
.represent__title {
  width: 774px;
  height: 29px;
  left: 253px;
  top: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #373737;
  padding: 48px 253px 38px;
}
.represent-title__text {
  width: 1145px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #373737;
  padding: 0 68px 28px 68px;
}
.container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.container__block {
  display: block;
  width: 191px;
  height: 51px;
  left: 545px;
  top: 557px;
  background: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 4px;
}
.get-started__link {
  width: 105px;
  height: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  padding: 18px 43px;
}
.copyright {
  width: 462px;
  height: 39px;
  left: 608px;
  top: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: black;
  padding: 82px 105px 29px 713px;
}
